@import url(reset.css);
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #f3f4f6;
}

.container {
  height: 100%;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.header .logo .logo-icon {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to bottom right, #7c3aed, #9333ea);
  border-radius: 0.75rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo .logo-name {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #000033;
}
.header .logo .logo-name span {
  color: #7c3aed;
  font-size: 1.7rem;
  font-weight: 600;
}
.header .tabs {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.header .tabs .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #374151;
  font-weight: 550;
  gap: 0.5rem;
  padding: 10px 24px;
  border-radius: 999px;
  font-size: 17px;
  transition: 250m s;
}
.header .tabs .active {
  background-color: #7c3aed;
  color: #fff;
}
.header .tabs .tab:not(.active):hover {
  background-color: rgba(55, 65, 81, 0.0941176471);
}
.header .profile-tab {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .profile-tab .profile-tab-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.header .profile-tab .profile-tab-box img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.header .profile-tab .profile-tab-box a {
  color: #000033;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.calculator-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}
.calculator-page .calculator {
  background-color: #fff;
  width: 448px;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.calculator-page .calculator .calculator-monitor {
  background-color: #f9fafb;
  padding: 24px;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
.calculator-page .calculator .calculator-monitor .top-number {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #6b7280;
  margin-bottom: 0.5rem;
}
.calculator-page .calculator .calculator-monitor .bottom-number {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}
.calculator-page .calculator .keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}
.calculator-page .calculator .keys .key {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding: 20px 0;
  border-radius: 0.75rem;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  transition: 250ms;
}
.calculator-page .calculator .keys .key:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.137254902);
}
.calculator-page .calculator .keys .op-btn {
  background-color: #8b5cf6;
  color: #FFF;
}
.calculator-page .calculator .keys .backspace-btn {
  background-color: #d1d5db;
}
.calculator-page .calculator .keys .c-btn {
  background-color: #ef4444;
  color: #fff;
}
.calculator-page .calculator .keys .zero-btn {
  grid-column: span 2;
}

.feed-page {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}
.feed-page .feed {
  width: 768px;
  padding: 32px 16px;
}
.feed-page .feed .feed-header {
  display: flex;
  background-color: #FFF;
  font-weight: 600;
  color: #4b5563;
  border-radius: 1rem;
  overflow: hidden;
  border-bottom-width: 1px;
  border-color: #faf5ff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.feed-page .feed .feed-header .header-left {
  width: 50%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed-page .feed .feed-header .header-right {
  width: 50%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed-page .feed .feed-header .active {
  color: #7c3aed;
  border-bottom: 2px solid #7c3aed;
}/*# sourceMappingURL=style.css.map */