@import url(reset.css);

$primary-color: #7c3aed;
$primary-color-light : #9333ea;
$black : #000033;
$gray : #374151;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  background-color: #e5e7eb;
}

// header  styles
.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0 0 0 / 0.05);

  display: flex;
  justify-content: space-around;
  align-items: center;

  // website logo style
  .logo {

    @include flex-center();
    gap: 0.75rem;

    .logo-icon {
      width: 40px;
      height: 40px;
      background-image: linear-gradient(to bottom right, $primary-color , $primary-color-light);
      border-radius: 0.75rem;

      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: #fff;

      @include flex-center()
    }

    .logo-name {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      color: $black;

      span {
        color: $primary-color;
        font-size: 1.7rem;
        font-weight: 600;
      }
    }
  }

  // tabs section style
  .tabs {
    height: 100%;
    @include flex-center();
    gap: 7px;

    .tab {
      @include flex-center();
      text-decoration: none;
      color: $gray;
      font-weight: 550;
      gap: 0.5rem;
      padding: 0.625rem 1.5rem 0.625rem 1.5rem;
      border-radius: 999px;
      font-size: 17px;
    }

    .active {
      background-color: $primary-color;
      color: #fff;
    }

    .tab:not(.active):hover {
      background-color: #37415118;
    }
  }

  // prifile trab style
  .profile-tab {
    height: 100%;
    display: flex;
    align-items: center;

    .profile-tab-box {
      @include flex-center();
      gap: 0.75rem;

      img {
        width: 36px;
        height: 36px;
        border-radius: 100%;
      }

      a {
        color: $black;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
}

