@import url(reset.css);

// variables

$primary-color: #7c3aed;
$primary-color-light : #9333ea;
$black : #000033;
$gray : #374151;
$light-gray : #f9fafb;
$white: #fff;
$box-shadow : 0 10px 15px -3px rgb(0 0 0 / 0.1),
0 4px 6px -4px rgb(0 0 0 / 0.1);
$box-radius : 1rem;
$feeds-margin-bottom : 1.5rem;

:root {
  --story-size: 64px
}

// بعدا یادت باشه یه سری شدو هارو تغییر بدی

// functions

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


// basic styles
html,
body {
  height: 100%;
  margin: 0;
}


body {
  // font-family: cursive;
  font-family: sans-serif;
  background-color: #f3f4f6;
}


.container {
  height: 100%;
}

// header  styles
.header {
  width: 100%;
  height: 80px;
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0 0 0 / 0.05);

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: sticky;
  top: 0;

  // website logo style
  .logo {

    @include flex-center();
    gap: 0.75rem;

    .logo-icon {
      width: 40px;
      height: 40px;
      background-image: linear-gradient(to bottom right, $primary-color , $primary-color-light);
      border-radius: 0.75rem;

      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: $white;

      @include flex-center()
    }

    .logo-name {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      color: $black;

      span {
        color: $primary-color;
        font-size: 1.7rem;
        font-weight: 600;
      }
    }
  }

  // tabs section style
  .tabs {
    height: 100%;
    @include flex-center();
    gap: 7px;

    .tab {
      @include flex-center();
      text-decoration: none;
      color: $gray;
      font-weight: 550;
      gap: 0.5rem;
      padding: 10px 24px;
      border-radius: 999px;
      font-size: 17px;
      transition: 250m s;
    }

    .active {
      background-color: $primary-color;
      color: $white;
    }

    .tab:not(.active):hover {
      background-color: #37415118;
    }
  }

  // prifile trab style
  .profile-tab {
    height: 100%;
    display: flex;
    align-items: center;

    .profile-tab-box {
      @include flex-center();
      gap: 0.75rem;

      img {
        width: 36px;
        height: 36px;
        border-radius: 100%;
      }

      a {
        color: $black;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
}

.calculator-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);

  .calculator {
    background-color: $white;
    width: 448px;
    padding: 2rem;
    border-radius: 1.5rem;

    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

    .calculator-monitor {
      background-color: $light-gray;
      padding: 24px;
      border-radius: 1rem;

      margin-bottom: 1.5rem;

      .top-number {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 700;
        color: #6b7280;
        margin-bottom: 0.5rem;
      }

      .bottom-number {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 700;
      }
    }

    .keys {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.75rem;

      .key {
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 600;

        padding: 20px 0;
        border-radius: 0.75rem;
        border: none;
        outline: none;

        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        background-color: $white;

        transition: 250ms;
      }

      .key:hover {
        box-shadow: 0px 3px 10px #00000023;
      }

      .op-btn {
        background-color: #8b5cf6;
        color: $white;
      }

      .backspace-btn {
        background-color: #d1d5db;
      }

      .c-btn {
        background-color: #ef4444;
        color: $white;
      }

      .zero-btn {
        grid-column: span 2;
      }
    }
  }
}

.feed-page {
  height: calc(100vh - 80px);

  display: flex;
  justify-content: center;

  .feed {
    width: 768px;
    padding: 32px 16px;

    // header section styles
    .feed-header {
      display: flex;
      background-color: $white;
      font-weight: 600;
      color: #4b5563;
      border-radius: $box-radius;
      overflow: hidden;
      border-bottom-width: 1px;
      border-color: #faf5ff;

      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

      margin-bottom: $feeds-margin-bottom;
      cursor: pointer;

      .header-left {
        width: 50%;
        padding: 1rem 0;
        @include flex-center()
      }

      .header-right {
        width: 50%;
        padding: 1rem 0;
        @include flex-center()
      }

      .active {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }

    // story section styles
    .feed-story {
      background-color: #fff;
      width: 100%;
      padding: 16px;
      box-shadow: $box-shadow;
      border-radius: $box-radius ;

      margin-bottom: $feeds-margin-bottom;

      display: flex;
      gap: 1rem;
      overflow-y: auto;

      // followers story styles
      .story {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: auto;

        .story-btn {
          border-radius: 100%;
          overflow: hidden;
        }

        span {
          color: $gray;
          margin-top: 0.5rem;
          font-size: 0.75rem;
          font-size: 0.75rem;
          line-height: 1rem;
        }
      }

      .user-profile {
        background: url(../public/images/profile-pic.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #ffffff;
        width: 100%;
        height: 100%;
      }

      // story ring style 
      .story-ring {
        width: var(--story-size);
        height: var(--story-size);
        padding: 2px;
        border-radius: 50%;
        background: linear-gradient(to top right, $primary-color , $primary-color-light)
      }

      // loding style
      .loader {
        width: var(--story-size);
        height: var(--story-size);
        border: 5px solid #FFF;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        animation: pulse 1s linear infinite;
      }

      .loader:after {
        content: '';
        position: absolute;
        width: var(--story-size);
        height: var(--story-size);
        border: 5px solid #FFF;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: scaleUp 1s linear infinite;
      }

      @keyframes scaleUp {
        0% {
          transform: translate(-50%, -50%) scale(0)
        }

        60%,
        100% {
          transform: translate(-50%, -50%) scale(1)
        }
      }

      @keyframes pulse {

        0%,
        60%,
        100% {
          transform: scale(1)
        }

        80% {
          transform: scale(1.2)
        }
      }

      .visited {
        background: #cbcdd1;
      }

      // add story style
      .add-story {

        .add-story-btn {
          background: linear-gradient(to bottom right, #f3e8ff, #ede9fe);
          color: $primary-color;
          font-size: 30px;
          @include flex-center();
          width: var(--story-size);
          height: var(--story-size);
        }
      }
    }

    // posts section styles
    .feed-posts {

      .post {
        padding: 24px;
        background-color: #fff;
        box-shadow: $box-shadow;
        border-radius: $box-radius;

        display: flex;
        align-items: flex-start;
        gap: 1rem;

        .post-left {
          img {
            width: 48px;
            height: 48px;
            border-radius: 100%;

          }
        }

        .post-right {
          width: 100%;

          .post-meta {
            display: flex;
            gap: 0.5rem;
            width: 100%;

            a {
              text-decoration: none;
              color: $black;
              font-weight: 600;
              font-size: 16px;
            }

            a:hover {
              color: $primary-color-light;
              text-decoration: underline;
            }

            span {
              color: #6b7280;
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
          }

          .post-body {
            padding: 1.5rem;
            background: linear-gradient(to bottom right, #f5f3ff, #faf5ff);
            border-radius: $box-radius;
            padding: 24px;
            margin-top: 1rem;

            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
            flex-wrap: wrap;

            .expression {
              font-size: 1.5rem;
              margin-bottom: 0.9rem;
            }

            .result {
              color: $primary-color;
              font-weight: 700;
              font-size: 1.875rem;
            }
          }

          .tags {
            margin-top: 12px;
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;

            .tag {
              padding: 4px 8px;
              font-weight: 500;
              text-decoration: none;
              color: $primary-color;
              transition: 150ms;
              font-size: 15px;
              border-radius: 6px;
            }

            .tag:hover {
              background-color: #f5f3ff;
            }
          }

          .post-actions {
            margin-top: 1rem;
            display: flex;
            gap: 1.5rem;

            .action {
              color: $gray;
              font-size: 16px;
              font-weight: 600;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              transition: 200ms;
              border: none;
              outline: none;
              background-color: $white;
            }

            .action:hover {
              color: var(--hover-color);
            }
          }
        }
      }
    }
  }
}